<article class="card">
  <a class="cover" href="/read/<%= b.provider %>/<%= b.id %>">
    <% if (b.cover) { %>
      <img loading="lazy" src="<%= b.cover %>" alt="Cover of <%= b.title %>">
    <% } else { %>
      <div class="cover ph"><span class="ph-initials">P</span></div>
    <% } %>
  </a>

  <div class="meta">
    <div class="title"><%= b.title %></div>
    <% if (b.author) { %><div class="author"><%= b.author %></div><% } %>
  </div>

  <div class="actions">
    <a class="btn sm" href="/read/<%= b.provider %>/<%= b.id %>">Read</a>
    <button
      class="btn sm ghost listen"
      data-provider="<%= b.provider %>"
      data-id="<%= b.id %>">
      Listen
    </button>
  </div>
</article>
